---
import SearchIcon from "../common/Icons/Search.astro";
import PrimaryButton from "../common/PrimaryButton.astro";
---
<form
  class="w-full max-w-md mx-auto"
  id="search-form"
>
  <label for="search-movies" class="mb-2 text-sm font-medium text-text sr-only"
    >Search</label
  >
  <div class="relative">
    <SearchIcon />
    <input
      class="form-control block w-full p-4 ps-10 text-sm text-text border border-secondary rounded-lg focus:ring-secondary focus:border-secondary"
      type="search"
      id="search-movies"
      name="search"
      placeholder="Begin typing to search..."
      hx-post="api/search-suggestions"
      hx-trigger="keyup changed delay:500ms"
      hx-target="#suggestions"
      hx-indicator=".htmx-indicator"
      required
    />
    <!-- <PrimaryButton title="Search" /> -->
    </div>
  <div id="suggestions"></div>
</form>
